.HomePage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    height: auto;
}

.Shares {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.ShareBox {
    display: grid; 
    grid-template-columns: 1fr 3fr; 
    grid-template-rows: 0.5fr 0.5fr; 
    gap: 10px 0px; 
    border: 1px solid #C0C3D9;
    padding: 10px;
    width: 31.25rem;
}

/* Positioning the elements in the grid */
.ShareProfile {
    grid-column: 1;
    grid-row: 1;
    background: none;
    border: none;
    display: flex;
}

.ShareProfile img{
    width: 90%;
    max-width: 40px;
    height: 90%;
    max-height: 40px;
}

.ShareProfile img:active{
    width: 95%;
    height: 95%;
}

.ShareBox textarea {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    line-height: 1.5;
    background-color: #C0C3D9;
    border: none;
    border-radius: 12px;
}

.ShareButton {
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 17px;
    width: 90%;
    max-width: 7rem;
    background-color: #F6B17A;
    color: #2D3250;
    font-size: 1.1rem;
    transition: all 0.2s ease;
    appearance: none; /* Reset browser styles */
    -webkit-appearance: none; 
}

.ShareButton:hover{
    background-color: #7077A1;
    color: #C0C3D9;
    border: solid 1px #C0C3D9;
}

.ShareButton:active{
    max-width:7.5rem;
}

@media (max-width : 600px){
    .ShareBox{
        width: 15.625rem;;
    } 
} 