
.LoginPageBody{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}


.loginBox{
    width: 90%;
    max-width: 532px;
    height: 90%;
    max-height: 359px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    background-color: #424769;
    border-radius: 96px;
}

input{
    width: 412px;
    height: 54px;
    background-color: #7077A1;
    border: none;
    color: #C0C3D9;
    margin-bottom: 12px;
    font-size: 20px;
}

.usernameInput{
    margin-top: 70px;
}
.passwordInput{
    margin-bottom: 40px;
}

.loginBox button{
    border: none;
    border-radius: 17px;
    width: 179px;
    height: 39px;
    background-color: #F6B17A;
    font-size: 20px;
}

.loginBox button:hover{
    background-color: #7077A1;
    color: #C0C3D9;
    border: solid;
    border-color: #C0C3D9;
}

.loginBox button:active{
    width: 181px;
    height: 41px;
}

input::placeholder{
    color: #C0C3D9;
}